<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/" *ngIf="!isAurorize">WebSqlGit</a>
    <a class="user-name"  href="scripts/home" *ngIf="isAurorize">{{user.name}}</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()"
            data-target="#navbarsExample09"
            aria-controls="navbarsExample09"
            aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="scripts">Scripts<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" *ngIf="isAurorize">
          <a class="nav-link" href="scripts/create">Create Script<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input #searchBox id="search-box" (input)="search(searchBox.value)" class="form-control" type="text" placeholder="Search" aria-label="Search" >
        <img  (click)="search(searchBox.value)" class="img-search" src="../../../assets/search.png"/>
      </form>
      <ul>
        <li *ngFor="let script of scripts | async">
          <a href="scripts/{{script.id}}">
            {{script.name}}
          </a>
        </li>
      </ul>
      <button class="in-out" (click)="Out()" *ngIf="isAurorize">Logout</button>
      <button class="in-out" [routerLink]="['/login']" *ngIf="!isAurorize">Login</button>
    </div>
  </nav>
</header>

