a {
  cursor: pointer;
}

a .navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

li {
    margin-bottom: 0px; 
}

li div {
  border-bottom: 1px solid #808080;
  padding: 5px 0 6px 0;
}

li:last-of-type div {
  border-bottom: none;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.user-name {
color: #fff;
font-size: 20px;
margin: -4px 20px 0px 20px;
}

.in-out {
  margin-left: 5px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 20px;
}

.img-search {
    margin-left: -35px;
}

.ans-search {
  list-style: none;
  position: absolute;
  right: 55.5px;
  width: 200px;
  top: 50px;
  border-radius: .25rem;
  margin-right: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 2px 10px;
  z-index: 1;
}

.ans-search li {
  margin:0;
}

.ans-search li a {
  text-decoration: none;
  color: #000000;
}
