<h4>List of categories <img src="../../../assets/add-category.png" alt="Add" class="edit-category" title="edit Category"  *ngIf="isAurorize" (click)="isEditCategory = !isEditCategory"/></h4>
<div class="list-group">
  <form *ngIf="isEditCategory" class="creat-category" action="/" method="post">
    <input #NameCategory class="new-name" placeholder="New Name" />
    <button (click)="addCategory(NameCategory.value); isEditCategory = !isEditCategory" class="add-category btn-dark">add</button>
  </form>
  <div class="left">
    <div *ngFor="let category of categories; let i = index"
         [ngClass]="{'select': highlightedDiv === category.id }"
         class="category d-flex flex-row">
      <a href="category/{{category.id}}">{{category.name}}</a>
    </div>
  </div>
</div>
