<div class="head-category">
  <h4>Категории</h4>
  <button
          class="add-category"
          *ngIf="isAurorize"
          (click)="isAdd = !isAdd;"
          >+</button>
</div>
<form *ngIf="isAdd" action="/" method="post">
  <input #NameCategory placeholder="Название" />
  <button (click)="addCategory(NameCategory.value)">Добавить</button>
</form>
<div class="list-group">
  <div class="left">
    <div *ngFor="let category of categories; let i = index"
         [ngClass]="{'select': highlightedDiv === category.id }"
         class="category d-flex flex-row">
      <a href="category/{{category.id}}">{{category.name}}</a>
    </div>
  </div>
</div>
