
pre {
  height: 70vh;
}

.hljs[_ngcontent-ng-cli-universal-c3] {
  background-color: #f9f9f9;
}

.rounded {
  background-color: #f9f9f9;
}

.row {
  margin-top: 10px;
}

.left {
  overflow: auto;
  width: 100%;
  height: 85vh;
}

.plot-code {
  margin: 0 20px;
  padding: 5px 10px;
}

pre::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #ffffff;
}

pre::-webkit-scrollbar {
  width: 15px;
  background-color: #ffffff;
}

pre::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cccccc;
}

.btn {
  margin-right: 40px;
}

h3 {
  margin: 10px 0 0 20px;
}

.row {
  margin-top: 10px;
}

.read {
  padding: 0 20px;
}

textarea {
  height: 70vh;
  background-color: #f9f9f9;
}

.plot-code {
  margin: 15px
}

.name-script {
  margin: 10px 0
}
