input {
  padding-left: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #dee2e6;
}

h3 {
  margin: 10px 0 0 20px;
}

input {
  margin: 5px 0 10px 0;
}

select {
  width: 181px;
  border-color: #ffffff;
  border-bottom: 2px solid #dee2e6;
}

textarea {
  max-width: 880px;
  height: 410px;
  background-color: #f9f9f9;
  border: #f9f9f9;
}

textarea::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #ffffff;
}

textarea::-webkit-scrollbar {
  width: 15px;
  background-color: #ffffff;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cccccc;
}

button {
  border: 2px solid #dee2e6;
  background-color: #ffffff;
}

.script-setting div {
  margin-bottom: 5px;
}

.new-tags {
  margin: 10px 0;
  font-size: 16px;
  box-shadow: none;
}

.list-tags {
  padding: 2px 6px;
  border: 1px solid #dee2e6;
  margin-left: 10px;
}

.delete-tag {
  border: none;
  padding: 0;
  color: #ff0000;
}

.update-tag {
  margin-left: 10px;
}

.update-script {
  margin: 10px 20vh 0 0;
}
