<div>
  <div class="read">
    <input [(ngModel)]="script.name" name="name" value="{{script.name}}" class="form-control form-control-lg name-script" />
    <pre><code class="code"><textarea class="form-control" id="" [(ngModel)]="script.body">{{script.body}}</textarea></code></pre>
  </div>
  <div class="d-flex flex-row-reverse">
    <button type="button" class="btn btn-dark">Удалить</button>
    <button (click)="save(); goBack();" type="button" class="btn btn-dark">Save Code</button>
  </div>
</div>
