<div>
  <form #update="ngForm" class="edit-script">
    <div class="row">
        <label>Name</label>
        <input ngModel name="name" class="form-control form-control-lg" type="text" value="{{script.name}}">
        <label>Category</label>
        <select ngModel name="categoryId">
          <option>{{script.categoryId}}</option>
          <option ngModel name="categoryId" *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
        <div class="row">
          <input #tagNew class="form-control form-control-lg col-sm-6 add-tag" type="text" placeholder="tags script">
          <button (click)="createTags(tagNew.value); tagNewName.value=''" class="btn btn-dark" type="button">Add</button>
        </div>
    </div>
    <div class="row">
      <div *ngFor="let tag of script.tags; let i = index" class="tag">
        {{tag}}
        <button (click)="deleteTag(i)" class="deleteTag">x</button>
      </div>
    </div>
    
    <div class="read">
      <label>Code</label>
      <textarea ngModel name="body" class="form-control" *ngIf="script">{{script.body}}</textarea>
    </div>
    <div class="d-flex flex-row-reverse">
      <button (click)="upDate(script, update)" type="button" class="btn btn-dark">Save Code</button>
    </div>
  </form>
</div>
