input {
  padding-left: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #dee2e6;
}

h3 {
    margin-top: 10px;
}

select {
  width: 229px;
  border-color: #ffffff;
  border-bottom: 2px solid #dee2e6;
}

form {
  font-size: 20px;
  padding: 10px;
}

textarea {
  height: 460px;
  background-color: #f9f9f9;
  border: #f9f9f9;
}

textarea::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #ffffff;
}

textarea::-webkit-scrollbar {
  width: 15px;
  background-color: #ffffff;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cccccc;
}

button {
  border: 2px solid #dee2e6;
  background-color: #ffffff;
}

.script-tuning div {
  margin-bottom: 5px;
}

.new-tags {
  font-size: 16px;
  box-shadow: none;
}

.new-tags button {
    margin-left: 5px;
}

.add-name {
  margin-left: 15px;
}

.add-category {
  margin-left: 38px;
}

.add-tag {
  margin-left: 92px;
  margin-right: 10px;
}

.create-script {
    margin-top: 10px;
}
