<div>
  <h3>Создать новый скрипт</h3>
  <form #create="ngForm">
    <div class="script-tuning">
      <div>
        <label>Имя скрипта</label>
        <input ngModel name="name" type="text" placeholder="Название скрипта" class="add-name">
      </div>
      <div>
        <label for="select">Категория</label>
        <select [(ngModel)]="selectedCategory" name="category" class="add-category">
          <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
        </select>
      </div>
      <div>
        <label>Теги</label>
        <input #tagNew type="text" placeholder="Название тега" class="add-tag">
        <button (click)="createTags(tagNew.value); tagNewName.value='';" type="button">Добавить</button>
      </div>
    </div>
    <div class="new-tags d-flex">
      <div *ngFor="let tag of tags; let i = index">
        {{tag}}
        <button (click)="deleteTag(i)" class="delete-tag">x</button>
      </div>
    </div>
    <div class="d-flex flex-column">
      <label>SQL код</label>
      <textarea ngModel name="body" id="" class="border"></textarea>
    </div>

    <span *ngIf="isError">Ошибка! Не все поля заполнены.</span>
    <div class="d-flex flex-row-reverse">
      <button (click)="add(script, create)" type="button" class="create-script">Создать</button>
    </div>
  </form>
</div>
