.create {
  margin: 10px 0 0 0;
}

.read {
  padding-bottom: 5px;
}

textarea {
  height: 55vh;
  background-color: #f9f9f9;
}
.name-script {
  margin: 10px 0
}

.edit-script input {
  margin: 5px 10px;
}

.edit-script .row {
  margin: 5px;
}

select {
  border-color: #cccccc;
  padding-left: 10px;
  border-radius: 5px;
  margin: 5px 30px;
  width: 200px;
  height: 40px;
}
.create-script input {
    margin: 5px 0
}
.tag {
  text-align: center;
  border: 3px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  height: 30px;
  width: 70px;
  margin: 10px;
}
.deleteTag {
    color: red;
    background-color: #f9f9f9;
    padding: 0;
    border: none;
    margin: 0 0 2px 5px;
}
.add-tag {
  margin: 0 20px;
  max-height: 40px;
}
.btn {
    max-height: 38px;
    margin: 1px 0 0 0;
}
.tag-create {
    margin: 5px 0 0 0;
}
label {
    margin: 0;
}
