<div class="row">
  <div class="col-sm-10">
    <div class="row">
      <h3 class="col-sm-4">{{script.name}}</h3>
      <div *ngFor="let tag of script.tags" class="tag">{{tag}}</div>
    </div>
    <div *ngIf="script.body !== null" class="border rounded">
      <pre><code  id="sql" class="sql">{{script.body}}</code></pre>
    </div>
    <span class="script-author">author: {{script.author}}</span>
    <div class="d-flex flex-row-reverse" *ngIf="script.isAuthor">
      <a href="scripts/{{script.scriptId}}/edit" class="bottom-btn btn-dark">Edit</a>
      <button class="bottom-btn btn-dark" (click)="deleteScript(script)">Delete</button>
    </div>
  </div>
  <div class="col-sm-2 right">
    <div *ngFor="let scriptV of scripts; let i = index"
         [ngClass]="{'active': highlightedDiv === i }"
         class="script-version flex-row"
         (click)="getScriptHistory(scriptV.id); toggleHighlight(i)">
      <div class="main-version">
        <h6>{{scriptV.name}}</h6>
        <p>Версия: {{scriptV.version}}</p>
        <p>{{scriptV.updateDataTime | date:'medium'}}</p>
      </div>
    </div>
  </div>
</div>
