h3 {
  margin: 10px 0 0 20px;
}

.script-tags {
  margin: 0;
}

.btn {
  border: 2px solid #dee2e6;
  background-color: #ffffff;
  margin-right: 10px;
}

pre {
  height: 470px;
}

pre::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #ffffff;
}

pre::-webkit-scrollbar {
  width: 15px;
  background-color: #ffffff;
}

pre::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cccccc;
}

.col-sm-10 {
  padding: 0;
}

.rounded {
  background-color: #f9f9f9;
  margin: 0 20px;
  padding: 5px 10px;
}

.lable-category {
    margin-left: 10px;
}

.row {
  margin-top: 10px;
  margin-right: 0;
  margin-left: 0;
}

.script-version {
    margin-bottom: 60px;
}

.tag {
    text-align: center;
    border: 3px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
    margin: 10px;    
}

.right {
  overflow: auto;
  max-height: 580px;
  max-width: 200px;
  padding: 0;
}

.right p {
  margin: 0;
}

.right h6 {
  margin: 0;
}

.right::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #ffffff;
}

.right::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff;
}

.right::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cccccc;
}

.script-author {
  margin: 20px
}

.active {
  background-color: #cccccc;
}

.main-version {
  cursor: pointer;
  margin: 10px;
  max-width: 150px;
}

.sql {
  background-color: #f9f9f9;
}
