<div class="row">
  <div class="col-sm-3 left">
    <h3>Список категорий <span class="editCat" title="edit Category" (click)="creatCategoey = !creatCategoey">x</span> </h3>
    <div class="list-group">
        <form *ngIf="creatCategoey" class="creatCategoey" action="/" method="post">
          <input #NameCategory />
          <button (click)="add(NameCategory.value); NameCategory.value=''; creatCategoey = !creatCategoey" class="addCat">add</button>
        </form>
      <div *ngFor="let category of categories" 
           (click)="onSelect(category)"
           class="category d-flex flex-row">
        <a>{{category.name}}</a>
        <button *ngIf="creatCategoey" class="btnCat btn-dark" (click)="delete(category)">x</button>

      </div>
    </div>
  </div>

  <div *ngIf="selectedCategory" class="category-vid col-sm-9">
    <h2>{{selectedCategory.Name}}</h2>
    <span>script id: </span>
    <div class="id-conteiner">
      
      <div class="script-id" *ngFor="let scriptId of selectedCategory.scriptId"><a href="scripts/{{scriptId}}">{{scriptId}}</a> </div>
    </div>
    <button class="btn btn-dark" (click)=" off()">back</button>
  </div>

  <div class="col-sm-9">
    <router-outlet *ngIf="!(selectedCategory)"></router-outlet>
  </div>
</div>
